.info_company {
    padding: 150px 0;
}

.description {
    letter-spacing: -0.03em;
}

.description-title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24.59px;
    color: #121212;
}

.description__text {
    width: 1048px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61.47px;
    margin-bottom: 30px;
    color: #121212;
    letter-spacing: -0.03em;
}

.description__link {

    border: 1px solid #AD1818;
    background-color: #AD1818;
    width: 255px;
    text-align: center;
    font-size: 20px;
    line-height: 27.32px;
    font-weight: 400;
    padding: 20px 40px 20px 40px;
    line-height: 67px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

description-link:hover {
    color: white;
    background-color: #AD1818;
}

@media (max-width: 1199px) {
    .info_company {
        padding: 120px 0;
    }

    .description__text {
        max-width: 690px;
        font-size: 35px;
        line-height: 47.81px;
        margin-bottom: 30px;
    }

}

@media (max-width: 767px) {
    .info_company {
        padding-top: 70px;
        padding-bottom: 0px;
    }

    .description-title {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .description__text {
        width: 100%;
        font-size: 22px;
        line-height: 30.05px;
        margin-bottom: 20px;
    }

    .description__link {
        padding: 15px 29px;
        font-size: 16px;
        letter-spacing: -0.48px;
    }
}