.title-wrapper {
    width: 90px;
    position: relative;
}

.title-wrapper:before {
    content: '';
    bottom: 25px;
    margin-bottom: 12px;
    display: block;
    position: absolute;
    width: 13px;
    height: 22px;
    background-image: url("../photo/Vector.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.contact__tel {
    display: block;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #121212;
    text-decoration: none;
    cursor: pointer;
}

.contact__email {
    display: block;
    margin-bottom: 162px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
    text-decoration: none;
    cursor: pointer;

}

.contact__email:hover {
    text-decoration: underline;
    color: grey;
}

.contact__tel:hover {
    text-decoration: underline;
    color: grey;
}