.section-contacts {
    padding: 150px 0;
}

.contacts__item {
    margin-top: 50px;
    display: flex;
}

.contact__tel,
.contact__email {
    width: 50%;
}

.contact__tel {
    display: block;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
    cursor: pointer;
}

.contact__email {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
    cursor: pointer;
}

.contact__email:hover {
    text-decoration: underline;
    opacity: 50%;
}

.contact__tel:hover {
    text-decoration: underline;
    opacity: 50%;
}

.contact__tel:before,
.contact__email:before {
    content: '';
    display: block;
    margin-bottom: 21px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: left;
}

.contact__tel:before {
    background-image: url("../photo/phone.png");
}

.contact__email:before {
    background-image: url("../photo/email.png");
}

@media (max-width:1199px) {
    .section-contacts {
        padding: 120px 0;
    }

    .contacts__item {
        margin-top: 30px;
    }

    .contact__tel,
    .contact__email {
        font-size: 45px;
        line-height: 60px;
    }

    .contact__tel:before,
    .contact__email:before {
        margin-bottom: 26px;
    }
}

@media (max-width:797px) {
    .section-contacts {
        padding: 66px 0;
    }

    .contacts__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contacts__item {
        margin-top: 15px;
    }

    .contact__tel,
    .contact__email {
        width: 100%;
        font-size: 35px;
        line-height: 45.62px;
        letter-spacing: -0.03em;
    }
}