@import "/style/header.css";
@import "/style/intro.css";
@import "/style/about-us.css";
@import "/style/projects.css";
@import "/style/services.css";
@import "/style/reviews.css";
@import "/style/gallery.css";
@import "/style/contacts.css";
@import "/style/footer.css";

html {
    scroll-behavior: smooth;
}

main {
    display: block;
}

body {
    width: 100%;
    letter-spacing: -0.03em;
    background-color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1180px;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        background-color: aquamarine;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
        background-color: blueviolet;
    }
}


.project__all_link {
    display: block;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 56px;
    border: 1px solid #AD1818;
    text-align: center;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    text-decoration: none;
}


.project__all_link:hover {
    color: white;
    background-color: #AD1818;
}

.section_black {
    width: 100%;
    padding: 150px 0;
    background-color: black;
}

@media (max-width:1199px) {
    .section_black {
        padding: 120px 0;
    }
}

@media (max-width:767px) {
    .section_black {
        padding: 79px 0;
    }

    .project__all_link {

        padding: 37px 0;
        font-size: 22px;
        line-height: 30.05px;

    }

}